body {
    padding-top:40px;
    font-family: "Source Code Pro", Monaco, monospace;
}

#shop {
    margin-top:20px;
}

.product .name {
    padding:10px;
}

.product {
    margin-top:10px;
    border-bottom: 1px dashed black;
    padding:10px;
}

.product:last-of-type {
    border: 0;
}